In [3]:
l1=['jagruti','jitendra','Asawale']

In [4]:
l2=[]
for i in l1:
    print(i)
    l2.append(i)
l2

jagruti
jitendra
Asawale

['jagruti', 'jitendra', 'Asawale']

In [5]:
word=input("enter a string")
reverse=""
lenth=len(word)
while lenth>0:
    reverse=reverse+word[lenth-1]
    lenth=lenth-1
reverse

enter a string jagruti

'iturgaj'

In [6]:
#sum of no
Sum=0
for i in range(1,11):
    Sum=Sum+i
Sum

55

In [8]:
#sum of no using while loop
result=0
i=0
while i<11:
    result=result+i
    i=i+1
result

55

In [15]:
# product using while loop
product=1
i=1
while i<11:
    product=product*i
    i=i+1
product

3628800

In [17]:
# product using for loop
product=1
for i in range(1,11):
    product=product*i
product

3628800

In [18]:
"""The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input."""

'The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per\nunit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will\nbe charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.\nYou are required to take the units of electricity consumed in a month from the user as input.'

In [2]:
units=int(input("enter the unit"))
bill=0

if units<=100 :
    bill=units*4.5
elif units>100 and units<=200:
    bill=100*4.5+(units-100)*6
elif units>200 and units<=300:
    
    bill=100*4.5+(200-100)*6+(units-200)*10
else:
    
    bill=100*4.5+(200-100)*6+(300-200)*10+(units-300)*20
bill

enter the unit 310

2250.0

In [1]:
"""Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list"""

'Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each\nnumber and if the cube of that number is divisible by 4 or 5 then append that number in a list and print\nthat list'

In [3]:
l1=[]
for i in range(1,101):
    cube=i*i*i
    if cube%4==0 or cube%5==0:
        l1.append(cube)
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [2]:
l2=[]
i=1
while i<=100:
    cube=i*i*i
    i=i+1
    if cube%4==0 or cube%5==0:
        l2.append(cube)
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [3]:
"""Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"""

'Write a program to filter count vowels in the below-given string.\nstring = "I want to become a data scientist'

In [4]:
string="I want to become a data scientist"
vowels=0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels=vowels+1
vowels

12